In [20]:
class student:
    def __init__(self, stu, sec, div, school):
        self.student_ = stu
        self.section = sec
        self.division = div
        self.school_ = school
    def __str__(self):
        return "Name: " + self.student_ + ", School: " + self.school_+ ", Section: " + str(self.section) + ", Division: " + self.division
    def __repr__(self):
        return str(self)
    def __eq__(self, other):
        if isinstance(other, student):
            return self.section == other.section and self.division == other.division and self.school_ == other.school_
        raise Exception(f"{other} is not of class 'student', it is of type '{other.__class__.__name__}'")

In [22]:
stu1 = student(input("Name: "), input("Section: "), input("Division: "), input("School: "))

Name: KIAAN GARG
Section: 7
Division: G
School: JAMNABAI NARSEE SCHOOL

In [23]:
stu1

Name: KIAAN GARG, School: JAMNABAI NARSEE SCHOOL, Section: 7, Division: G

In [27]:
stu2 = student(input("Name: "), input("Section: "), input("Division: "), input("School: "))

Name: YUG PANDEY
Section: 7
Division: G
School: JAMNABAI INTERNATIONAL SCHOOL

In [28]:
stu2

Name: YUG PANDEY, School: JAMNABAI INTERNATIONAL SCHOOL, Section: 7, Division: G

In [29]:
stu1 == stu2

False